body{
    font-family: Dancing Script;
    background-color: #02010a;
}
img{
    box-shadow: 2px #02010a;
}

header{
    background-color: #5b7989;
    border-radius: 10px;
    height: 50px;
}
header::before{
    
    content: "Comenzando con la fotografía";
    color: white;
    text-shadow: 2px 2px #02010a;
    
}
header a{
    float: right;
    padding: 0.5% 2% 0 0;
    
}
.paisajes{
    text-decoration: none;
}
section aside table{
    
  margin-left: auto;
  margin-right: auto;
}
section aside {
    background-color: #d5c75f;
    border: 1px solid black;
}
section aside img{
    width: 100%;
    height: 20%;
    margin: 1px;
}
footer{
    border-radius: 10px; 
    background-color: #C6d5c5;   
    display: flex;
}
li{
    list-style-type: none;
}